/*========== General ==========*/

:root {
  --background-image: linear-gradient(120deg, rgba(72, 146, 155, 0.9), rgba(169, 210, 215, 0.9));
  --background-overlay: rgba(35, 70, 75, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  overflow: auto;
}

/*========== Menu ==========*/

.menu-btn {
  position: absolute;
  right: 85px;
  margin-top: 50px;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.menu-btn button {
  background-color: transparent;
  font-size: 36px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*========== Header ==========*/

.header {
  position: absolute;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 200px;
  transition: all 0.5s ease-in-out;
}

.header.open {
  height: 100%;
  background-color: var(--background-overlay);
}

.header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header nav ul li {
  margin: 20px 0;
}

/*========== Homepage ==========*/

.homepage {
  background: url('./showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.homepage .overlay {
  background-image: var(--background-image);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.homepage .overlay h1 {
  text-transform: uppercase;
  font-size: 96px;
  transition: all 0.5s ease-in-out;
}

.homepage .overlay p {
  font-size: 36px;
  transition: all 0.5s ease-in-out;
}

.homepage .overlay ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.homepage .overlay ul li {
  margin: 0 20px;
}

.homepage .overlay ul li a {
  font-size: 36px;
}

/*========== Projects ==========*/

.projects {
  background-image: var(--background-image);
}

.projects h1 {
  padding: 50px 80px;
  color: #fff;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: auto;
  gap: 40px;
  color: #fff;
  padding-bottom: 50px;
}

.projects .cards h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.projects .cards p {
  font-size: 16px;
  margin-bottom: 30px;
}

.projects .cards .card-outline {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  height: 100%;
}

.projects .cards .card-text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects .cards .card-image {
  border-radius: 5px 5px 0 0 ;
}

.projects .cards ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.projects .cards ul li a.github {
  background-color: rgba(72, 105, 155, 0.9);
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

/*========== Responsive ==========*/

@media (max-width: 992px) {
  .homepage .overlay h1 {
    font-size: 64px;
  }

  .homepage .overlay p {
    font-size: 24px;
  }
}

@media (max-width: 1150px) {
  .projects .cards {
    padding: 0 20px 20px;
  }
}

@media (max-width: 768px) {
  .projects .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .menu-btn {
    right: calc(50vw - 15px);
  }

  .homepage .overlay h1 {
    font-size: 44px;
  }

  .homepage .overlay p {
    font-size: 16.5px;
  }

  .header {
    width: 100%;
    height: 20%;
  }

  .header.open {
    height: 100%;
  }

  .projects .cards {
    grid-template-columns: 1fr;
  }

  .projects h1 {
    visibility: hidden;
  }
}